{# app/Resources/views/Emails/approuver_agence.html.twig #}
<h3>Félicitations! Votre Agence a eté approuvé !</h3>

Salut {{ name }}! Votre demande de création d'association a eté approuvé.

{# example, assuming you have a route named "login" #}
Pour accéder a votre espace: <a href="{{ url('fos_user_security_login') }}">Login</a>.

Merci!

