<h3>Désole! Votre Agence a eté refusé !</h3>

Salut {{ name }}! Votre demande de création d'association a eté refusé.

Pour toute informations contacter : <a href="#">reactors.info@gmail.com</a>.

Merci!

