{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="{{ asset('assets/ramyfront/css/first.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <style type="text/css">
        .my_content_container a {
            border-bottom: 1px solid #777777;
            border-left: 1px solid #000000;
            border-right: 1px solid #333333;
            border-top: 1px solid #000000;
            color: #000000;
            display: block;
            height: 3.5em;
            padding: 0 1em;
            width: 10em;
            text-decoration: none;
        }
        // :hover and :active styles left as an exercise for the reader.
    </style>

    <div class="my_content_container">
        <a href="{{ path('reaclamation_homepage') }}">Mes tickets</a>
    </div>
<div class="container">
    <div class="row">
        <form action="{{ path('add_requete') }}" method="post" class="smart-green">
            <h1>Support Ticket
                <span>Please fill all the texts in the fields.</span>
            </h1>


            <label>
                <span>Choisir un type de la reclamation :</span>
            </label>
                {#<input type = "text" list = "types" name="type">
                <datalist id = "types" >
                        <option value = "1">'Besoin de renseignement sur le site'</option>
                    <option value = "2">Je veux reporter un spam</option>
                    <option value = "3">J ai des problem technique</option>
                    <option value = "4">Le livreur n est pas venu</option>
                </datalist>
#}
            <select name="type" id="">
                <option value = "1">'Besoin de renseignement sur le site'</option>
                <option value = "2">Je veux reporter un spam</option>
                <option value = "3">J ai des problem technique</option>
                <option value = "4">Le livreur n est pas venu</option>
            </select>

            <label>
                <span>Sujet :</span><input id="Subject" type="text" name="sujet" placeholder="Votre sujet" />
            </label>

            <label>
                <span>Description :</span>
                <textarea id="message" name="description" placeholder="Description"></textarea>
            </label>

            <label>
                <span> </span>
                <input type="submit" class="button" value="Send" />
            </label>
        </form>
    </div>
</div>

{% endblock %}