{% extends '::base.html.twig' %}

{% block body %}
    <h1>Thread creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="creer">
    {{ form_end(form) }}



{% endblock %}
